.carousal {
  --_carousel-gutters: max(1rem, calc((100vw - calc(1280px - 1rem * 2)) / 2));
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows:
    [carousel-scroller] 1fr
    [carousel-pagination] var(--_carousel-pagination-size);

  &__scroller {
    @apply relative block snap-x snap-mandatory overflow-x-scroll overscroll-contain whitespace-nowrap;
    scrollbar-width: none;
    scroll-padding-inline: var(--_carousel-gutters);
    padding-inline: var(--_carousel-gutters);
    grid-row: 1;
    grid-column: 1/-1;

    &::-webkit-scrollbar {
      display: none;
    }

    @media (--motionOK) {
      scroll-behavior: smooth;
    }
  }

  &__items {
    @apply mr-6 inline-block snap-center snap-always whitespace-normal first:pl-container last:mr-0 last:pr-container;
  }

  &__controls {
    /* @apply absolute z-50 flex  w-full  items-center justify-between px-container; */
    justify-content: space-between;
    padding-inline: var(--_carousel-gutters);
    @apply hidden md:contents;
  }

  &__control {
    grid-row: 1;
    place-self: center;
    @apply z-50 mx-container w-20;

    &:first-child {
      grid-column: 1;
    }
    &:last-child {
      grid-column: 3;
    }
  }
}
