/* Header CSS */
.header {
  grid-template-columns: auto 1fr auto;
  @apply grid justify-items-center px-container py-8 shadow-dark;

  & a {
    @apply font-bold text-neutral-800;
    &:hover {
      @apply text-secondary3;
    }
  }

  &__nav {
    & > ul {
      @apply m-0 flex gap-8 p-0;

      & > li {
        @apply relative m-0 p-0;

        & > a {
          &:hover + nav {
            display: block;
          }
        }
      }
    }
  }

  &__nested_nav {
    display: none;
    position: absolute;
    top: 24px;
    left: -1rem;
    @apply z-50 w-fit bg-transparent;

    & > ul {
      @apply mt-10 flex flex-col gap-4 rounded-xl bg-neutral-100 p-8 shadow-dark;

      & > li {
        @apply m-0 p-0;

        > a {
          @apply whitespace-nowrap;
        }
      }
    }
    &:hover {
      display: block;
    }
  }
}

/* banner CSS */

.banner {
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  min-height: calc(theme(height.screen) - theme(spacing.16) - 30px);
  @apply grid content-center items-center gap-4 px-4 sm:px-sm-container lg:gap-32 lg:px-container;

  & :is(.banner__title, .banner__description) {
    @apply text-center;
  }

  &__actions {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    @apply grid gap-4;
  }

  &__image {
    @apply relative aspect-image overflow-hidden rounded-3xl bg-secondary3;
  }
}

/* :is(.courses, .perks) {
  &__title {
    @apply mb-14;
  }
} */

.courses {
  @apply grid min-h-screen place-content-center justify-items-center bg-neutral-200;
  grid-template-rows: repeat(3, auto);

  &__title {
    @apply mb-10 md:mb-14;
  }
}

.carousal {
  @apply relative mb-10 grid md:mb-14;
  --_carousel-gutters: max(1rem, calc((100vw - calc(1280px - 1rem * 2)) / 2));
  grid-template-columns: auto 1fr auto;
  grid-template-rows:
    [carousel-scroller] 1fr
    [carousel-pagination] var(--_carousel-pagination-size);

  &__scroller {
    @apply relative block snap-x snap-mandatory overflow-x-scroll overscroll-contain whitespace-nowrap;
    scrollbar-width: none;
    scroll-padding-inline: var(--_carousel-gutters);
    padding-inline: var(--_carousel-gutters);
    grid-row: 1;
    grid-column: 1/-1;

    &::-webkit-scrollbar {
      display: none;
    }

    @media (--motionOK) {
      scroll-behavior: smooth;
    }
  }

  &__items {
    @apply mr-6 inline-block snap-center snap-always whitespace-normal first:pl-container last:mr-0 last:pr-container;
  }

  &__controls {
    /* @apply absolute z-50 flex  w-full  items-center justify-between px-container; */
    justify-content: space-between;
    padding-inline: var(--_carousel-gutters);
    @apply hidden md:contents;
  }

  &__control {
    grid-row: 1;
    place-self: center;
    @apply z-50 mx-container w-20;

    &:first-child {
      grid-column: 1;
    }
    &:last-child {
      grid-column: 3;
    }
  }
}

.card {
  @apply flex max-w-xl  flex-col justify-between overflow-hidden rounded-2xl bg-neutral-100 shadow-dark;

  &__figure {
    @apply relative m-0 aspect-h-image w-full p-0;
  }

  &__content {
    @apply flex h-full flex-col justify-between p-8;
  }

  &__title {
    @apply h-10 line-clamp-1;
  }

  &__desc {
    @apply m-0 my-4 h-16 p-0 line-clamp-2;
  }
}

/* .perks {
  @apply grid min-h-screen content-center justify-items-center bg-neutral-700 text-neutral-100;
  grid-template-rows: repeat(2, auto);

  &__title {
    @apply text-neutral-100;
  }

  &__content {
    @apply grid w-full columns-auto gap-2 md:gap-8;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    @media screen and (max-width: theme(screens.md)) and (min-width: theme(screens.sm)) {
      grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    }
  }

  &__item {
    @apply grid grid-rows-2 items-center justify-items-center md:text-left;
    @media screen and (max-width: theme(screens.md)) and (min-width: theme(screens.sm)) {
      @apply grid-cols-2 grid-rows-1 justify-items-start md:text-start;
      grid-template-columns: 1fr 2fr;
    }
  }
} */

/* .category {
  @apply grid min-h-screen content-center  justify-items-center bg-neutral-200 text-neutral-700;
  grid-template-rows: repeat(2, auto);

  &__title {
    @apply mb-10 text-center text-neutral-700;
  }

  &__content {
    @apply grid w-full gap-4 sm:px-sm-container md:px-container lg:px-container;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    @media screen and (max-width: theme(screens.md)) and (min-width: theme(screens.sm)) {
      grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    }
  }

  &__item {
    @apply grid justify-items-center gap-4;
    grid-template-rows: repeat(2, auto);
  }
  .card {
    @apply flex max-w-xl  flex-col justify-between overflow-hidden rounded-2xl bg-neutral-100 shadow-dark;

    &__figure {
      @apply relative m-0 aspect-h-image w-full p-0;
    }

    &__content {
      @apply flex h-full flex-col justify-between p-8;
    }

    &__title {
      @apply mb-1 h-9 line-clamp-1;
    }

    &__desc {
      @apply m-0 my-0 h-16 p-0 line-clamp-2;
    }
  }
} */

/* .ourOffice {
  @apply grid min-h-screen content-center justify-items-center px-container text-neutral-700;
  grid-template-rows: repeat(3, auto);

  &__title {
    @apply text-neutral-700;
  }

  &__content {
    @apply w-full;
  }

  &__item {
    @apply grid justify-items-center;
    grid-template-rows: repeat(3, auto);
  }
} */

.blogs {
  @apply grid min-h-screen grid-cols-1 content-center items-center justify-items-center gap-8 px-container lg:grid-cols-2 lg:justify-items-start;
  /* grid-template-columns: repeat(auto-fit, minmax(416px, 1fr)); */
  grid-template-rows: repeat(4, auto);

  &__title {
    @apply m-0;
  }

  &__btn {
    @apply lg:justify-self-end;
  }

  & > .card {
    @apply grid h-36 w-full;
    grid-template-columns: repeat(2, auto);
    &:first-of-type {
      @apply row-span-3 h-full;
    }
  }
}
