/* Header CSS */
.header {
  grid-template-columns: auto 1fr auto;
  @apply grid justify-items-center px-container py-8 shadow-dark;

  & a {
    @apply font-bold text-neutral-800;
    &:hover {
      @apply text-secondary3;
    }
  }

  &__nav {
    & > ul {
      @apply m-0 flex gap-8 p-0;

      & > li {
        @apply relative m-0 p-0;

        & > a {
          &:hover + nav {
            display: block;
          }
        }
      }
    }
  }

  &__nested_nav {
    display: none;
    position: absolute;
    top: 24px;
    left: -1rem;
    @apply z-50 w-fit bg-transparent;

    & > ul {
      @apply mt-10 flex flex-col gap-4 rounded-xl bg-neutral-100 p-8 shadow-dark;

      & > li {
        @apply m-0 p-0;

        > a {
          @apply whitespace-nowrap;
        }
      }
    }
    &:hover {
      display: block;
    }
  }
}

/* banner CSS */

.banner {
  
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  min-height: calc(theme(height.screen) - theme(spacing.16) - 30px);
  @apply grid content-center items-center gap-4 px-4 lg:gap-32 lg:px-container;

  & :is(.banner__title, .banner__description) {
    @apply text-center;
  }

  &__actions {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    @apply grid gap-4;
  }

  &__image {
    @apply relative aspect-image overflow-hidden rounded-3xl bg-secondary3;
  }
}

:is(.courses, .perks) {
  @apply grid min-h-screen place-content-center justify-items-center bg-neutral-200;
  grid-template-rows: repeat(3, auto);

  &__title {
    @apply mb-14;
  }
}















:is(.courses, .perks) {
  @apply grid min-h-screen place-content-center justify-items-center bg-neutral-200;
  grid-template-rows: repeat(3, auto);

  &__title {
    @apply mb-14;
  }
}


.carousal {
  --_carousel-gutters: max(1rem, calc((100vw - calc(1280px - 1rem * 2)) / 2));
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:
    [carousel-scroller] 1fr
    [carousel-pagination] var(--_carousel-pagination-size);

  &__scroller {
    @apply relative mb-14 block w-full snap-x snap-mandatory overflow-x-scroll overscroll-contain whitespace-nowrap;
    scrollbar-width: none;
    scroll-padding-inline: var(--_carousel-gutters);
    padding-inline: var(--_carousel-gutters);

    &::-webkit-scrollbar {
      display: none;
    }

    @media (--motionOK) {
      scroll-behavior: smooth;
    }
  }

  &__items {
    @apply mr-6 inline-block snap-center snap-always whitespace-normal first:pl-container last:mr-0 last:pr-container;
  }

  &__controls {
    @apply absolute z-50 flex  w-full  items-center justify-between px-container;
  }
}

.card {
  @apply flex max-w-xl flex-col flex-col justify-between overflow-hidden rounded-2xl bg-neutral-100 shadow-dark;

  &__figure {
    @apply m-0 p-0;
  }

  &__content {
    @apply flex h-full flex-col justify-between p-8;
  }

  &__title {
    @apply h-10 line-clamp-1;
  }

  &__desc {
    @apply m-0 my-4 h-16 p-0 line-clamp-2;
  }
}

.perks {
  @apply bg-neutral-700 text-neutral-100;
}
