.aboutheader {
  @apply grid items-center  gap-8 lg:grid-cols-2;
  div:nth-child(3) {
    order: 3;
  }
  &__image {
    @apply relative mx-auto  aspect-square w-full overflow-hidden rounded-xl;
  }

  &__title {
    @apply text-center;
  }
  /* @media screen and (min-width: 768px) {
    div:nth-of-type(2) {
      div:nth-child(2) {
        order: 1;
      }
    }
  } */
}
