.banner {
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  min-height: calc(theme(height.screen) - theme(spacing.16) - 88px);
  @apply grid grid-cols-1 content-center items-center gap-4 px-4 py-8 sm:px-sm-container lg:grid-cols-2 lg:gap-32 lg:px-container;
&__details {
@apply flex flex-col text-center lg:text-left
}
  & h2 {
    @apply text-5xl sm:text-7xl md:text-8xl;
  }

  &__actions {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    @apply my-8 grid gap-4 md:my-12;
  }

  &__image {
    @apply relative aspect-image overflow-hidden rounded-3xl;
  }
}
