.blogSubscribe {
  @apply px-container pb-20;

  &__body {
    @apply relative items-center justify-center overflow-hidden rounded-3xl bg-primary px-4 py-12 md:px-16 md:py-28;
  }
  &__content {
    @apply z-10 grid items-center gap-3 lg:grid-cols-2;
  }
  &__title {
    @apply z-10  text-center text-4xl text-neutral-100 md:text-7xl lg:text-left lg:text-5xl;
  }
  &__newsletter {
    @apply grid gap-4 py-10 md:w-full md:gap-0 lg:py-16;
    @media only screen and (max-width: 320px) {
      grid-template-rows: 1fr 1fr;
    }
    @media only screen and (min-width: 506px) {
      grid-template-columns: 3fr 2fr;
    }

    &__input {
      @apply w-full rounded-full bg-neutral-100 py-5 px-6;
      @media only screen and (min-width: 506px) {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
      }
    }

    &__btn {
      @media only screen and (min-width: 506px) {
        grid-column: 2 / -1;
        grid-row: 2 / -1;
      }
      @apply m-2 bg-neutral-700  !px-4 md:bg-primary md:!py-3;
    }
  }
}
