.contact {
  @apply grid  min-h-fit gap-8 px-container py-20 lg:py-32;

  @media only screen and (min-width: 1010px) {
    grid-template-columns: 3fr 2fr;
  }

  &__title {
    grid-column: 1 / -1;
    @apply mb-0 text-center lg:text-left;
  }
  &__desc {
    grid-column: 1 / -1;
    @apply text-center md:mx-12 lg:mx-0 lg:text-left;
  }

  &__body {
    @apply grid gap-8 rounded-2xl bg-neutral-100 py-8 px-4 shadow-base md:grid-cols-1 lg:grid-cols-1;
    /* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */

    & .form {
      &:nth-child(5) {
        grid-column: 1 / -1;
      }
    }
  }

  &__cards {
    @apply grid  items-center gap-6;
  }

  &__card_details {
    @apply grid w-full justify-items-center rounded-2xl text-center shadow-base;
  }
}
