.education {
  /* display: grid;
  grid-template-rows: repeat(3, auto);
  min-height: calc(theme(height.screen) - theme(spacing.16) - 30px); */
  @apply justify-items-center gap-y-10 px-container;

  /* &__header {
    grid-column: 1 / -1; */

  & > * {
    @apply text-center;
  }
  &__temp {
    @apply grid justify-items-center gap-8 overflow-hidden md:text-left;

    @media only screen and (max-width: 770px) {
      @apply text-center;
      grid-template-rows: auto auto;
    }
    @media only screen and (min-width: 770px) {
      grid-template-columns: auto auto;
    }

    &__image {
      @apply relative aspect-square  overflow-hidden rounded-xl shadow-base;
    }
  }
  &__content {
    grid-template-columns: 1fr 1fr;
    @apply grid grid-cols-1 items-center justify-center gap-4 pt-16 lg:grid-cols-2;
    &__tile {
      @apply grid justify-center overflow-hidden
       md:text-left;

      @media only screen and (max-width: 750px) {
        @apply text-center;
        grid-template-rows: 80px auto;
      }
      @media only screen and (min-width: 750px) {
        grid-template-columns: 80px auto;
      }
    }
  }
}
