.footer {
  @apply grid gap-3 overflow-hidden bg-neutral-700 px-4 pt-16 pb-6 md:px-6 lg:justify-between lg:px-container;
  @media screen and(min-width:1024px) {
    grid-template-columns: 2fr 1.5fr;
  }
  h1 {
    @apply m-0;
  }
  &__line {
    @apply h-[1px] w-[100%] rounded-full bg-neutral-600 lg:col-span-2;
  }
  &__description {
    @apply text-neutral-100 lg:ml-auto lg:w-[420px];
  }
  &__links {
    @apply grid grid-cols-1 gap-3;
    @media screen and (min-width: 375px) {
      @apply grid-cols-2;
    }
  }
  &__newsletter {
    @apply py-10 md:w-2/3 lg:py-16;
  }

  &__pages > h3 {
    @apply mb-4  lg:pt-10;
    @media screen and (min-width: 1024px) {
      margin-right: 340px;
    }
  }
  &__socialicons {
    @apply grid gap-2 pt-2  lg:justify-end lg:pt-2;
    grid-template-columns: repeat(auto-fit, minmax(50px, 20px));
  }
  @media screen and (min-width: 1024px) {
    div:nth-of-type(5) {
      order: 6;
    }
  }
}
