.footer {
  @apply grid gap-3 bg-neutral-700 px-4 pt-16 md:px-6 lg:grid-cols-2 lg:px-container;
  &__line {
    @apply h-[1px] w-[100%] rounded-full bg-neutral-600 lg:col-span-2;
  }
  &__links {
    @apply grid grid-cols-1 gap-3;
    @media screen and (min-width: 375px) {
      @apply grid-cols-2;
    }
  }
  &__newsletter {
    @apply py-10 md:w-4/5 lg:py-16;
  }

  &__pages > h3 {
    @apply mb-4;
  }
  &__socialicons {
    @apply grid gap-2 md:w-4/5 lg:justify-end lg:pb-4;
    grid-template-columns: repeat(auto-fit, minmax(50px, 20px));
  }
  @media screen and (min-width: 1024px) {
    div:nth-of-type(5) {
      order: 6;
    }
  }
}
