.growcareer {
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  @apply grid min-h-fit content-center items-center gap-8 bg-primary px-4 py-16 text-center sm:px-sm-container md:gap-16 lg:gap-32 lg:px-container;

  &__title {
    @apply text-neutral-100;
  }
  &__description {
    @apply text-neutral-100;
  }

  &__details {
    @apply lg:text-left;
  }
  &__cards {
    @apply relative grid w-full items-center justify-items-center gap-5;
    grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
  }

  &__card_details {
    @apply z-10 flex w-full flex-col items-center justify-center rounded-2xl  bg-neutral-100 py-8 px-6 text-center shadow-base sm:aspect-square;
    &:nth-child(2) {
      grid-row: span 2;
    }

    & > h1 {
      @apply mb-1;
    }

    & > p {
      @apply m-0;
    }
  }

  &_bg {
    width: 65%;
    @apply absolute aspect-square rounded-full bg-secondary3;
  }
}
