.growcareer {
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  min-height: calc(theme(height.screen) - theme(spacing.16) - 30px);
  @apply grid grid-cols-1 content-center items-center gap-10 bg-primary py-14 px-4 text-center sm:px-sm-container md:py-16 lg:grid-cols-2 lg:gap-32 lg:py-20 lg:px-container lg:text-left;

  &__title {
    @apply text-neutral-100;
  }
  &__description {
    @apply text-neutral-100;
  }

  &__cards {
    @apply grid items-center gap-8;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  &__card_details {
    @apply w-full rounded-2xl bg-neutral-100 p-8 text-center shadow-base;
    &:nth-child(2) {
      grid-row: span 2;
    }
  }
}
