.header {
  grid-template-columns: auto 1fr auto;

  @apply sticky z-40 grid items-center justify-items-center bg-neutral-100 px-container py-4 shadow-dark duration-300;
  &__tsclogo {
    @apply h-12 w-28 lg:w-44;
  }

  &__link {
    @apply font-bold text-neutral-800;
    &:hover {
      @apply text-secondary3;
    }
  }

  &__nav {
    & > ul {
      @apply m-0 hidden gap-4 p-0 md:flex md:gap-8;

      & > li {
        @apply relative m-0 p-0;

        & > a {
          &:hover + nav {
            display: block;
          }
        }
      }
    }
  }

  &__nested_nav {
    display: none;
    position: absolute;
    top: 24px;
    left: -1rem;
    @apply z-50 w-fit bg-transparent;

    & > ul {
      @apply mt-10 flex flex-col gap-4 rounded-xl bg-neutral-100 p-8 shadow-dark;

      & > li {
        @apply m-0 p-0;

        > a {
          @apply whitespace-nowrap;
        }
      }
    }
    &:hover {
      display: block;
    }
  }
  &__button {
    @apply !hidden md:!block;
  }
}
