.leader {
    @apply grid content-center gap-4 px-4 py-24 md:py-36 lg:py-44 sm:px-sm-container items-center justify-center lg:gap-24 lg:px-container min-h-screen;
  
    @media screen and  (min-width: 1024px) {
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  
    }
    & :is(.leaders__title, .leaders__description) {
      @apply text-center lg:text-left;
    }
  
    .leader__actions {
      grid-template-rows: repeat(auto-fit, minmax(260px, 1fr));
      @apply gap-4 justify-end lg:justify-start flex flex-col md:flex-row lg:flex-col   ;
      @apply w-full lg:w-72 gap-4;
      
    }
  
    .leader__image_content {
      @apply grid;
      grid-template-rows: repeat(3, auto);
      align-items: flex-end;
    }
  
    .leader__image {
      grid-row: 1 / -2;
      grid-column: 1 / -1;
      aspect-ratio: 2 / 2.5;
      @apply h-full relative bg-secondary3 rounded-lg overflow-hidden;
    }
  
    .leader__content {
      @apply z-50 bg-neutral-200 rounded-lg shadow-dark text-left mx-4 px-4 py-6 md:px-6 md:py-8;
      grid-row: 2 / -1;
      grid-column: 1 / -1;
    }
    .leader__ContentData{
      @apply mb-2 rounded-full bg-secondary1 py-2 text-center font-bold text-primary
    }
  }