.ourOffice {
  @apply grid min-h-screen content-center justify-items-center overflow-hidden px-container pt-24 pb-12 text-neutral-700 md:pt-36 md:pb-16 lg:pt-48 lg:pb-24;
  grid-template-rows: repeat(3, auto);

  &__title {
    @apply text-neutral-700;
  }

  &__content {
    @apply grid w-full;
    grid-template-rows: auto 70px auto;

    @media screen and (min-width: theme(screens.md)) {
      grid-template-rows: auto 100px auto;
    }

    @media screen and (min-width: theme(screens.lg)) {
      grid-template-rows: auto 150px auto;
    }
  }

  &__item {
    @apply col-span-full grid justify-items-center;
    grid-template-rows: repeat(3, auto);
    grid-row: 1 / -2;
  }

  &__map {
    @apply relative col-span-full aspect-video w-full;
    grid-row: 2 / -1;
  }
  &__card {
    @apply max-w-xl justify-between overflow-hidden rounded-2xl border border-neutral-300 bg-neutral-100 shadow-dark;

    &__figure {
      @apply relative m-0 aspect-h-image w-full p-0;
    }

    &__content {
      @apply h-full flex-col justify-between p-8;
    }

    &__title {
      @apply mb-1 h-9 line-clamp-1;
    }

    &__desc {
      @apply m-0 my-0 h-16 p-0 line-clamp-2;
    }
  }
}
