.perks {
  @apply relative grid min-h-screen content-center justify-items-center bg-neutral-700 px-container py-24 text-center text-neutral-100 lg:py-48;
  grid-template-rows: repeat(2, auto);

  &__title {
    @apply text-neutral-100;
  }

  &__content {
    @apply grid w-full columns-auto gap-2 md:gap-8;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    @media screen and (max-width: theme(screens.md)) and (min-width: theme(screens.sm)) {
      grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    }
  }

  &__item {
    @apply grid grid-rows-2 items-center justify-items-center md:text-left;
    @media screen and (max-width: theme(screens.md)) and (min-width: theme(screens.sm)) {
      @apply grid-cols-2 grid-rows-1 justify-items-start md:text-start;
      grid-template-columns: 1fr 2fr;
    }
  }
}
