.price {
  @apply grid max-w-full overflow-hidden rounded-2xl bg-neutral-100 py-16 px-8 shadow-dark md:grid-cols-2 md:gap-8  lg:grid-cols-1;

  &__features {
    @apply pt-8 sm:text-sm md:text-2xl lg:pt-0;
  }
  &__content {
    @apply flex items-start;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    margin-right: 2rem;
    padding: 1rem;
    padding-right: 2rem;

    @apply mb-8 h-16 w-full rounded-full bg-neutral-100 px-7 transition ease-in-out hover:border-2 hover:border-primary lg:mb-4;
  }
}
