/* .tab {
  @apply my-4 box-border grid rounded-2xl bg-neutral-100 py-8 px-14 text-center drop-shadow-md  sm:w-full sm:grid-rows-2
  lg:grid-cols-2 lg:grid-rows-1;
} */
body {
  @apply mx-auto w-11/12;
}
.ratecard {
  margin: 0 auto;
  @apply my-10 box-border grid rounded-2xl bg-neutral-100 py-16 px-8 drop-shadow-md sm:w-full sm:grid-cols-1 md:grid-cols-2 md:gap-4 lg:w-1/3 lg:grid-cols-1;
}
.btns {
  @media only screen and (max-width: 600px) {
    @apply grid-cols-2 grid-rows-2;
  }
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin-right: 2rem;
  padding: 1rem;
  padding-right: 2rem;
}
