#sidenav-open {
  --easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
  --duration: 0.6s;
  --surface: lch(90 0 0);
  --surface2: lch(100 0 0);
  --text: lch(20 0 0);
  --text2: lch(40 0 0);

  display: grid;
  grid-template-columns: [nav] 3fr [escape] 1fr;
  z-index: 9999;
  height: 100vh;

  position: sticky;
  top: 0;
  max-height: 100vh;
  overflow: hidden auto;
  overscroll-behavior: contain;

  visibility: hidden; /* not keyboard accessible when closed */
  transform: translateX(-110vw);
  will-change: transform;
  transition: transform var(--duration) var(--easeOutExpo),
    visibility 0s linear var(--duration);

  &:target {
    visibility: visible;
    transform: translateX(0);
    transition: transform var(--duration) var(--easeOutExpo);
  }

  @media (prefers-reduced-motion: reduce) {
    --duration: 1ms;
  }

  & > nav {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 1rem 0rem; */
    font-size: 1.25rem;
    color: var(--text);
    @apply p-4 md:hidden;

    background-color: var(--surface2);
    border-inline-end: 1px var(--surface1);
    box-shadow: 5px 0 40px hsla(0 0% 0% / 0.45);
    font-size: 1.5rem;

    & > h4 {
      text-transform: uppercase;

      &:not(:first-child) {
        margin-block-start: 2rem;
      }
    }

    /* & li {
      @apply text-lg;
    } */
    & a {
      text-decoration: none;
      line-height: 1.25;
    }
  }
}

#sidenav-button,
#sidenav-close {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
  touch-action: manipulation;

  @apply md:hidden;
}
.nav-item {
  @apply mb-0 p-0 text-base drop-shadow-none;
  & > ul {
    @apply pl-10 pt-4;
    & a {
      @apply font-normal;
    }
  }
  & > summary {
    justify-content: space-between;
    &::before {
      content: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
      @apply order-1 m-0 aspect-auto h-12 w-12 rotate-90 rounded-none bg-transparent duration-300;
      /* text-center text-6xl font-bold text-neutral-600  md:h-12 md:w-12 */
    }
  }
}
.nav-item[open] {
  & > summary {
    &::before {
      content: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
      @apply bottom-0  order-1 m-0 aspect-auto h-12 w-12 items-start rounded-none bg-transparent pb-2 duration-300;
    }
  }
}
/* use this if copying/pasting skeleton */
/* @media (max-width: 540px) {
    #sidenav-open > nav {
      background-color: white;
    }
  }
  
  #sidenav-button > svg {
    max-width: 50px;
  
    & > line {
      stroke: black;
      stroke-width: 7px;
    }
  } */
