.teacher {
  @apply grid grid-cols-1;
  grid-template-rows: repeat(3, 200px);

  &__bg {
    @apply bg-primary;
    grid-row: 1 / -2;
    grid-column: 1 / -1;
    z-index: -1;
  }

  &__content {
    @apply mx-container flex flex-wrap content-center justify-center gap-12 rounded-2xl bg-neutral-100 p-10 shadow-dark;
    grid-row: 2 / -1;
    grid-column: 1 / -1;

    &__img {
      @apply relative w-64 overflow-hidden;

      & > img {
        @apply rounded-full;
      }
    }

    &__details {
      @apply min-w-[300px] flex-1;
    }
  }
}
